.display{
    text-align: center;
    color:brown;
font-family: 'Courier New';
    font-size:50px;   
    margin-top:-200px;
}
   
.lead{
    text-align: center;
    font-family: 'Courier New';
    color: brown;
    
}

#img{
margin-top: -30px;
 height:250px; 
 transform: rotateZ(360deg);
 
  
}   
.jumbotron{
    background: url(52030997.jpg);
    background-size: cover;
    height: 300px;
    
}
.title{
    color: rgb(247, 141, 11);
    font-family: 'Franklin Gothic Medium';
}

.col1{
    margin-top: 6%;
}
    
.row1{
    margin-bottom: 30px;
}
#mrmen{
    margin-left:15%;
}

.row2{
    margin-bottom: 30px;
}
#garden{
    margin-left:15%;
}
#navbar{
    margin-left:25%;
    margin-top:8%;
}
#animation{
    margin-left:20%;
    margin-top:6%;
}

.row3{
    margin-bottom: 30px;
}
#buttons{
    margin-left: 13%;
}
#drum{
margin-left: 20%;
margin-top: 5%;
}
#image{
    margin-left: 15%;
}
#clock{
    margin-left: 28%;
}
#img2{
    margin-left: 10%;
}
.row4{
    margin-bottom: 30px;
}

#play1{
    margin-left: 12%;
}
#play2{
    margin-left: 18%;
}
#img3{
    margin-left: 10%;
}


